body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.sectiontop {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
    padding: 0px 200px 50px 200px;
    display: flex;
    justify-content: space-around;
}
.half-width{
    width: 45%;
    padding-top: 50px;
}
.orange-highlight {
    color: orange;
}    
.half-width h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
}
.half-width h4 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}
.half-width p {
    padding-bottom: 30px;
    color: dimgray;
}
.half-width a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to right, lightsalmon, tomato);
    padding: 10px 25px;
}
.half-width a:hover {
    color: antiquewhite;
    background-image: linear-gradient(to right,#008793, #00bf72);
}
.half-width img{
    width:100%;
    height:auto;
}
.sectionmiddle {
    height: 500px;
    padding: 50px 200px 50px 200px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-around;
} 
.half-width h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
}
.exp {
    text-align: center;
}
.section-experiences {
    height: 350px;
    padding: 50px 200px 100px 200px;
    display: flex;
    justify-content: space-around;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience {
    padding-top: 30px;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
#left-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato) ;
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}